In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\holbr\appdata\local\programs\python\python311\lib\site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\holbr\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\holbr\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\holbr\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\holbr\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\holbr\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

# Read Data Files

In [2]:
import pandas as pd

#Read data files
df = pd.read_csv('data/1950-23 damage_fatal_injury.csv')
df1 = pd.read_csv('data/1950-2023_tor_fatalities.csv')

# Display Data Files

In [3]:
df

,Year,# of Tornadoes,Direct Injury,Indirect Injury,Direct Fatality,Indirect Fatality,Property Damage,Crop Damage
0,All,"76,533","98,125",273,"6,202",46,"$71,815,382,290","$505,574,860"
1,2023,"1,455",696,0,79,5,"$1,208,203,100","$1,916,600"
2,2022,"1,380",315,3,24,1,"$698,681,090","$5,540,500"
3,2021,"1,545",878,3,103,4,"$232,623,000","$2,238,400"
4,2020,"1,251",733,8,76,1,"$2,504,035,500","$27,261,500"
...,...,...,...,...,...,...,...,...
70,1954,609,715,0,36,0,"$85,805,320",NaN
71,1953,492,"5,131",0,519,0,"$596,104,700",NaN
72,1952,272,"1,916",0,231,0,"$94,302,240",NaN
73,1951,269,524,0,34,0,"$65,505,990",NaN
74,1950,223,659,0,70,0,"$34,481,650",NaN

In [4]:
df1

      Date Tornadoes  Fatalities
0   195012       201          70
1   195112       260          34
2   195212       240         231
3   195312       422         519
4   195412       550          36
..     ...       ...         ...
69  201912      1517          42
70  202012      1082          76
71  202112      1314         103
72  202212      1143          23
73  202312     1294*          83

[74 rows x 3 columns]

# Clean Data

In [5]:
#Sort the DataFrame by the year column in descending order
df1 = df1.sort_values(by='Date', ascending=False)

#Reset the index
df1.reset_index(drop=True, inplace=True)

#Drop the first row
df = df.drop(0)

#Remove commas from values
df['Direct Injury'] = df['Direct Injury'].str.replace(',', '')
df['Direct Fatality'] = df['Direct Fatality'].str.replace(',', '')
df['Property Damage'] = df['Property Damage'].str.replace(',', '')
df['Crop Damage'] = df['Crop Damage'].str.replace(',', '')

#Convert Data Types
df['Direct Injury'] = df['Direct Injury'].astype(int)
df['Indirect Injury'] = df['Indirect Injury'].astype(int)
df['Direct Fatality'] = df['Direct Fatality'].astype(int)
df['Indirect Fatality'] = df['Indirect Fatality'].astype(int)

#Check Data Types
print(df.dtypes)
print(df1.dtypes)

Year                 object
# of Tornadoes       object
Direct Injury         int32
Indirect Injury       int32
Direct Fatality       int32
Indirect Fatality     int32
Property Damage      object
Crop Damage          object
dtype: object
Date           int64
Tornadoes     object
Fatalities     int64
dtype: object

In [6]:
#Remove the last two characters
df1['Date'] = df1['Date'].astype(str).str[:-2]

#Rename Date column from df1
df1 = df1.rename(columns={'Date': 'Year'})

#Save to csv
df1.to_csv('modified_date.csv', index=False)

In [7]:
#Combine columns
df['Injuries'] = df['Direct Injury'] + df['Indirect Injury']
df['Fatalities'] = df['Direct Fatality'] + df['Indirect Fatality']

# Save as new CSV File

In [8]:
#Save as new csv
df.to_csv('combined_file.csv', index=False)
df2 = pd.read_csv('combined_file.csv')

# Display new DataFrames

In [9]:
#Display df
df

,Year,# of Tornadoes,Direct Injury,Indirect Injury,Direct Fatality,Indirect Fatality,Property Damage,Crop Damage,Injuries,Fatalities
1,2023,"1,455",696,0,79,5,$1208203100,$1916600,696,84
2,2022,"1,380",315,3,24,1,$698681090,$5540500,318,25
3,2021,"1,545",878,3,103,4,$232623000,$2238400,881,107
4,2020,"1,251",733,8,76,1,$2504035500,$27261500,741,77
5,2019,"1,734",537,9,42,2,$3090497500,$5682000,546,44
...,...,...,...,...,...,...,...,...,...,...
70,1954,609,715,0,36,0,$85805320,NaN,715,36
71,1953,492,5131,0,519,0,$596104700,NaN,5131,519
72,1952,272,1916,0,231,0,$94302240,NaN,1916,231
73,1951,269,524,0,34,0,$65505990,NaN,524,34
74,1950,223,659,0,70,0,$34481650,NaN,659,70

In [10]:
#Display df1
df1

    Year Tornadoes  Fatalities
0   2023     1294*          83
1   2022      1143          23
2   2021      1314         103
3   2020      1082          76
4   2019      1517          42
..   ...       ...         ...
69  1954       550          36
70  1953       422         519
71  1952       240         231
72  1951       260          34
73  1950       201          70

[74 rows x 3 columns]

In [11]:
#Display df2
df2

,Year,# of Tornadoes,Direct Injury,Indirect Injury,Direct Fatality,Indirect Fatality,Property Damage,Crop Damage,Injuries,Fatalities
0,2023,"1,455",696,0,79,5,$1208203100,$1916600,696,84
1,2022,"1,380",315,3,24,1,$698681090,$5540500,318,25
2,2021,"1,545",878,3,103,4,$232623000,$2238400,881,107
3,2020,"1,251",733,8,76,1,$2504035500,$27261500,741,77
4,2019,"1,734",537,9,42,2,$3090497500,$5682000,546,44
...,...,...,...,...,...,...,...,...,...,...
69,1954,609,715,0,36,0,$85805320,NaN,715,36
70,1953,492,5131,0,519,0,$596104700,NaN,5131,519
71,1952,272,1916,0,231,0,$94302240,NaN,1916,231
72,1951,269,524,0,34,0,$65505990,NaN,524,34
73,1950,223,659,0,70,0,$34481650,NaN,659,70