In [ ]:
!pip install pandas

In [2]:
import pandas as pd

#Read data files
df = pd.read_csv('data/1950-23 damage_fatal_injury.csv')

In [3]:
print(df.columns)

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7'],
      dtype='object')

In [4]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,Year,# of Tornadoes,Direct Injury,Indirect Injury,Direct Fatality,Indirect Fatality,Property Damage,Crop Damage
1,All,"76,533","98,125",273,"6,202",46,"$71,815,382,290","$505,574,860"
2,2023,"1,455",696,0,79,5,"$1,208,203,100","$1,916,600"
3,2022,"1,380",315,3,24,1,"$698,681,090","$5,540,500"
4,2021,"1,545",878,3,103,4,"$232,623,000","$2,238,400"
...,...,...,...,...,...,...,...,...
71,1954,609,715,0,36,0,"$85,805,320",NaN
72,1953,492,"5,131",0,519,0,"$596,104,700",NaN
73,1952,272,"1,916",0,231,0,"$94,302,240",NaN
74,1951,269,524,0,34,0,"$65,505,990",NaN
75,1950,223,659,0,70,0,"$34,481,650",NaN