In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\holbr\appdata\local\programs\python\python311\lib\site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\holbr\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\holbr\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\holbr\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\holbr\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\holbr\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd

#Read data files
df = pd.read_csv('data/1950-23 damage_fatal_injury.csv')
df1 = pd.read_csv('data/1950-2023_tor_fatalities.csv')

In [3]:
# Reset the index
df1.reset_index(drop=True, inplace=True)

#Remove Row 1 in df1
df1 = df1.drop(0)


#Remove commas from values
df['Direct Injury'] = df['Direct Injury'].str.replace(',', '')
df['Direct Fatality'] = df['Direct Fatality'].str.replace(',', '')
df['Property Damage'] = df['Property Damage'].str.replace(',', '')
df['Crop Damage'] = df['Crop Damage'].str.replace(',', '')


#Convert Data Types
df['Direct Injury'] = df['Direct Injury'].astype(int)
df['Indirect Injury'] = df['Indirect Injury'].astype(int)
df['Direct Fatality'] = df['Direct Fatality'].astype(int)
df['Indirect Fatality'] = df['Indirect Fatality'].astype(int)

#Check Data Types
print(df.dtypes)

print(df1.dtypes)

Year                 object
# of Tornadoes       object
Direct Injury         int32
Indirect Injury       int32
Direct Fatality       int32
Indirect Fatality     int32
Property Damage      object
Crop Damage          object
dtype: object
January-December U.S. Tornadoes (*denotes preliminary data)    object
dtype: object

In [4]:
#Combine columns
df['Injuries'] = df['Direct Injury'] + df['Indirect Injury']
df['Fatalities'] = df['Direct Fatality'] + df['Indirect Fatality']

In [5]:
#Save as new csv
df.to_csv('combined_file.csv', index=False)

In [6]:
#Combine fatality columns from TWO csv files

In [7]:
df

,Year,# of Tornadoes,Direct Injury,Indirect Injury,Direct Fatality,Indirect Fatality,Property Damage,Crop Damage,Injuries,Fatalities
0,All,"76,533",98125,273,6202,46,$71815382290,$505574860,98398,6248
1,2023,"1,455",696,0,79,5,$1208203100,$1916600,696,84
2,2022,"1,380",315,3,24,1,$698681090,$5540500,318,25
3,2021,"1,545",878,3,103,4,$232623000,$2238400,881,107
4,2020,"1,251",733,8,76,1,$2504035500,$27261500,741,77
...,...,...,...,...,...,...,...,...,...,...
70,1954,609,715,0,36,0,$85805320,NaN,715,36
71,1953,492,5131,0,519,0,$596104700,NaN,5131,519
72,1952,272,1916,0,231,0,$94302240,NaN,1916,231
73,1951,269,524,0,34,0,$65505990,NaN,524,34
74,1950,223,659,0,70,0,$34481650,NaN,659,70

In [8]:
df1

   January-December U.S. Tornadoes (*denotes preliminary data)
1                                                  70
2                                                  34
3                                                 231
4                                                 519
5                                                  36
..                                                ...
70                                                 42
71                                                 76
72                                                103
73                                                 23
74                                                 83

[74 rows x 1 columns]